*{
  margin: 0;
  padding: 0;
  border: 0;
}

.yellow{
  background-color: yellow;
}

.brown{
  color: brown;
}

#pink{
  color: pink;
}

div > h3{
  color: red;
}

/* unvisited link */
a:link {
  color: #FF0000;
}

/* visited link */
a:visited {
  color: #00FF00;
}

/* mouse over link */
a:hover {
  color: #FF00FF;


h1:hover{
    color: grey;
}

#columna1 {
  background-color: pink;
  width: 40%;
  float: left;
  padding: 30px;
  border: 10px solid black;
  margin: 30px;
}

#columna2 {
  background-color: green;
  width: 40%;
  float: left;
}
