.result {
  background-color: #CCCCFF;
  padding: 10px;
}

.all {
  width: 60%;
  margin: 0 auto;
  background-color: #6495ED;
  top: 0;
  left: 0;
  padding: 10px;
  color: white;
}


#medidas {
  display: none;
}

.boton {
  background-color: #CCCCFF;
  border: none;
  color: rgb(0, 0, 0);
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
  cursor: pointer;
}

#boton_volver {
  margin-top: 10px;
}

h1 {
  margin: 10px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: #191970;

}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #4169E1;
}