* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* Style the header */
header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
  height: 300px;
  /* only for demonstration, should be removed */
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  padding: 20px;
  background-color: #f1f1f1;
  height: 300px;
  /* only for demonstration, should be removed */
}

button {
  background-color: orange;
}

aside {
  padding: 20px;
  background-color: orange;
  height: 300px;
  /* only for demonstration, should be removed */
}

/* Style the footer */
footer {
  clear: both;
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/*RESPONSIVE DESIGN*/
[class*="col-"] {
  float: left;
  width: 100%;
}

section::after {
  content: "";
  clear: both;
  display: table;
}

@media only screen and (min-width: 600px) {

  /*TABLET*/
  .col-t-1 {
    width: 8.33%;
  }

  .col-t-2 {
    width: 16.66%;
  }

  .col-t-3 {
    width: 25%;
  }

  .col-t-4 {
    width: 33.33%;
  }

  .col-t-5 {
    width: 41.66%;
  }

  .col-t-6 {
    width: 50%;
  }

  .col-t-7 {
    width: 58.33%;
  }

  .col-t-8 {
    width: 66.66%;
  }

  .col-t-9 {
    width: 75%;
  }

  .col-t-10 {
    width: 83.33%;
  }

  .col-t-11 {
    width: 91.66%;
  }

  .col-t-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {

  /*DESKTOP*/
  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }
}