* {
    align-content: center;
}

h1 {
    text-align: center;
    padding: 20px;
    font-weight: bold;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
p {
    text-align: center;
}